.top-recettes-landing-title{
    padding: 2% 0;
    text-align: center;
}

.landing-container{
background-image: url(../../assets/welcome/pexels-ella-olsson-1640773.jpg);
background-size: cover;
height: 85vh;
}