.card {
	background-color: white;
	color: #272727;
	padding: 20px;
	border-radius: 10px;
	border: 0px;
	border-color: tomato;
	border-style: solid;
	transition: 100ms;
    width: 20rem;
}

.card:hover {
	transition: 100ms;
	border: 3px;
	border-color: tomato;
	border-style: solid;
}
